// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
$primary: #9ad7e2; // set the primary color 
$second-primary:#474c4f; // set the Jumbotron background to AC Green @10% tint
$third-primary:#ddee54;// set the <hr> border colour to AC Charcoal @50% tint
$white:#fff;
// Load the main bootstrap framework.
@import '../node_modules/bootstrap/scss/bootstrap';


// Custom styles that are common for all pages in our project

// course review
.form-control {
  background-color: #ccdbde!important;
  &:hover{
    border-color:$third-primary;
  }
}
.form-control
.form{
  margin:0 auto;
  border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}
.btn-outline-success {
  color: $second-primary;
  background-color: $third-primary;
  background-image: none;
  border-color: $second-primary;
}

.dropdown-item {
  padding: .25rem 2.5rem;
  &:active{
    background:$second-primary;
    color:$white;
  }
}
.dropdown-menu{
  background-color:$third-primary;
}


/* slide2 */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
   -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .slider {
    position: relative;
    width: 9999px;
    &:before, &:after{
      display: table;
      content: ' ';
    }
  }
  
  .slider:after {
    clear: both;
  }
  .slider__item {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  
  /* Arrows */
  .slider__switch {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 10px 5px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    border-radius: 1px;
    background: #000;
    opacity: .3;
    transition: opacity .15s ease;
    fill:$white;
    span {
      color: $white;
      display: block;
      width: 32px;
      height: 32px;
    }
    &:hover {
      opacity: .85;
    }
  }
  .slider__switch--prev {
    left: 10px;
  }
  .slider__switch--next {
    right: 10px;
  }
  
  
  .slider__switch[disabled] {
    visibility: hidden;
    opacity: 0;
  }
  .slider__caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    max-width: 500px;
    padding: 10px;
    color:$white;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000'); /* ie8 */
  }
  .slider__caption[disabled] {
    opacity: 0;
    visibility: hidden;
  }
  .slider-nav {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
  
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 99999;
    filter: alpha(opacity=90); /* ie8 */
  }
  .slider-nav__control {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    -webkit-transition: background .5s ease;
       -moz-transition: background .5s ease;
         -o-transition: background .5s ease;
            transition: background .5s ease;
    border: 2px solid $white;
    border-radius: 50%;
    background: transparent;
    .is-active {
      width: 12px;
      height: 12px;
      background: $white;
    }
  }
  
  .slider-nav__control
  .slider.has-touch {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
  }
  .coursepage nav{
    padding: 0;
  }
/* slide2 */
.main-index {
  margin-top:3em;
  h1{
    text-align: center;
   }
}

// course review page

// grading
table {
  border-collapse: collapse;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

th {
  border: 1px solid $white;
  background-color:$second-primary;
  color:$white;
  padding:1rem;
  text-align: center;
}

td {
  border: 1px dotted #4cba6d;
  padding: 0.7rem;
  text-align: center;
}
.table .thead-dark th{
  background-color:$second-primary;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(265,265,265,.75);
}
#btn1, #btn2 {
  display: block;
margin: auto;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* Look at console */
.login-page {
width: 360px;
padding: 8% 0 0;
margin: auto;
}
.form {
animation-name: launch;
animation-duration: 4s;
position: relative;
z-index: 1;
background: #FFFFFF;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  }
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:$third-primary;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #474c4f;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    }
    .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 16px;
      a {
        color: $third-primary;
        text-decoration: none;
        }
      }
      .login-form {
        display: none;
        }
}


.container {
position: relative;
z-index: 1;
// margin:5%;
&::before, .container:after {
  content: "";
  display: block;
  clear: both;
  }
  .info {
    margin: 50px auto;
    text-align: center;
    h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a;
      }
      span {
        color: #4d4d4d;
        font-size: 12px;
        a {
          color: #000000;
          text-decoration: none;
          }
        }
    }
}




.login-page {
    padding-top: 40px;
}
.instruction{
    padding: 5%;
}
.copyRight {
background-color: #f7f7f7;
text-align: left;
color:$second-primary;
}
.socialMedia {
justify-content: center;
a {
  margin:5px;
  }
}

.fa {
font-size: 30px;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.centered{
  display:flex;
 
  justify-content: center;
}

// professor

/* Add a hover effect if you want */
.fa:hover {
opacity: 0.7;
text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
background: $third-primary;
color: $second-primary;
}

/* Twitter */
.fa-twitter {
background:$third-primary;
color: $second-primary;
}
.fa-instagram {
background:$third-primary;
color: $second-primary;
}

.fa-pinterest {
background:$third-primary;
color: $second-primary;
}
.footer{

text-align: center;
background: $second-primary;
padding-top:30px;
padding-bottom:30px;
position:fixed;
bottom:0;
width:100%;
z-index: 99;
.row .col-md-6 {
  display:flex;
  align-items:center;
}
p{
  background-color:$second-primary;
  color:#fff;
  }
}
 
.copyRight{
  position: relative;
  margin-bottom: 0;
}

.create-button{
background-color: $second-primary;
}
#create-button:hover
{
  background-color:$second-primary !important;
  color: white;
}
#create-username, #create-password, #create-email {
  background-color:#ccdbde!important;
  border-radius: .25rem;
}
/* course-schedule */
.course-img{
width:100%;
}
.section {
  h3{
padding: 3%;}
h1{
  padding: 5%;
  }
}


.navbar-light .navbar-nav .active>.nav-link{
  color:$white;
  &:active{
    color: #292929;
  }
}

.copyrightContainer {
  justify-content: center;

}
.contact-info, .title{
  text-align: center;
}

.courseTaught{
  text-align: center;
}
.col img{
  border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}
.gradeScheme .row h1 {

  margin: 0 auto;
  }
  .fa-navicon{
    color:#b3b3b3 !important;
  }
@media screen and (min-width:768px) {
  .login-page {
    padding-top: 40px;
    margin-left:180px;
}
    .navbar-expand-lg {
            padding: 0;
      }
      .socialMedia {
        justify-content: flex-end;
        }
        .centered{
        
          justify-content: left;
        }
        .contact-info{
          text-align: right;
        }
        .courseTaught{
          text-align: left;
        }
        .title{
          text-align: left;
        }
        #btn1, #btn2 {
        margin: 0px;
        }
       
}


// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.
@import 'particularCourses';
@import 'particularProfessors';
@import 'base';